@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col-md-6">
                <button type="button" class="btn btn-light">@Html.ActionLink("Giriş yap", "Login","Account")</button>
            </div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-6">
                <button type="button" class="btn btn-light">@Html.ActionLink("Soru listesine git", "AllExam","Exam")</button>
            </div>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="col-md-6">
                 <p>Bu alanı sadece admin görebilir</p>
                <button type="button" class="btn btn-light">@Html.ActionLink("Soru listesine git", "ExamList","Exam")</button>
                <br />
                 <br />
                <button type="button" class="btn btn-light">@Html.ActionLink("Soru oluştur", "CreateExam","Exam")</button>
            </div>
        }
        
    </div>
</div>
